#entity-lister-return {
  margin-bottom: 30px;
}

#entity-lister-full-entry div {
  margin-bottom: 16px;
}

#entity-lister-cid, #entity-lister-data {
  clear: both;
}

#entity-lister-data textarea {
  width: 90%;
  height: 400px;
}

#entity-lister-created, #entity-lister-expire, #entity-lister-serialized {
  float: left;
  width: 40%;
}

.entity-lister-date {
  color: #666;
}