.entity-lister th a {
  display: inline;
  margin-right: 10px;
}
.entity-lister th span.asc, .entity-lister th span.desc {
  display: inline;
  cursor: pointer;
  color: #0074BD;
}
.entity-lister th span.asc:hover, .entity-lister th span.desc:hover {
  color: black;
}
.entity-lister th.sort-active a {
  pointer-events: none;
  color: black;
  cursor: default;
}
